<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Root Menu -->
    <menuitem id="menu_hr_root" name="HR Management" sequence="10"/>

    <!-- Employees -->
    <menuitem id="menu_hr_employees" name="Employees" parent="menu_hr_root" sequence="10"/>
    <menuitem id="menu_employee" name="Employees" parent="menu_hr_employees" action="action_employee" sequence="10"/>
    <menuitem id="menu_employment_detail" name="Employment Details" parent="menu_hr_employees" action="action_employment_detail" sequence="20"/>

    <!-- Organisation -->
    <menuitem id="menu_hr_org" name="Organisation" parent="menu_hr_root" sequence="20"/>
    <menuitem id="menu_department" name="Departments" parent="menu_hr_org" action="action_department" sequence="10"/>
    <menuitem id="menu_designation" name="Designations" parent="menu_hr_org" action="action_designation" sequence="20"/>
    <menuitem id="menu_work_location" name="Work Locations" parent="menu_hr_org" action="action_work_location" sequence="30"/>

    <!-- Time & Attendance -->
    <menuitem id="menu_hr_time" name="Time &amp; Attendance" parent="menu_hr_root" sequence="30"/>
    <menuitem id="menu_attendance" name="Attendance" parent="menu_hr_time" action="action_attendance" sequence="10"/>
    <menuitem id="menu_leave_request" name="Leave Requests" parent="menu_hr_time" action="action_leave_request" sequence="20"/>
    <menuitem id="menu_leave_type" name="Leave Types" parent="menu_hr_time" action="action_leave_type" sequence="30"/>

    <!-- Payroll -->
    <menuitem id="menu_hr_payroll" name="Payroll" parent="menu_hr_root" sequence="40"/>
    <menuitem id="menu_payslip" name="Pay Slips" parent="menu_hr_payroll" action="action_payslip" sequence="10"/>
    <menuitem id="menu_salary_structure" name="Salary Structures" parent="menu_hr_payroll" action="action_salary_structure" sequence="20"/>

    <!-- Recruitment -->
    <menuitem id="menu_hr_recruitment" name="Recruitment" parent="menu_hr_root" sequence="50"/>
    <menuitem id="menu_job_opening" name="Job Openings" parent="menu_hr_recruitment" action="action_job_opening" sequence="10"/>
    <menuitem id="menu_candidate" name="Candidates" parent="menu_hr_recruitment" action="action_candidate" sequence="20"/>
    <menuitem id="menu_offer_letter" name="Offer Letters" parent="menu_hr_recruitment" action="action_offer_letter" sequence="30"/>

    <!-- Performance -->
    <menuitem id="menu_hr_performance" name="Performance" parent="menu_hr_root" sequence="60"/>
    <menuitem id="menu_goal" name="Goals" parent="menu_hr_performance" action="action_goal" sequence="10"/>
    <menuitem id="menu_performance_review" name="Reviews" parent="menu_hr_performance" action="action_performance_review" sequence="20"/>

    <!-- Documents -->
    <menuitem id="menu_hr_documents" name="Documents &amp; Compliance" parent="menu_hr_root" sequence="70"/>
    <menuitem id="menu_employee_document" name="Documents" parent="menu_hr_documents" action="action_employee_document" sequence="10"/>
    <menuitem id="menu_disciplinary_record" name="Disciplinary Records" parent="menu_hr_documents" action="action_disciplinary_record" sequence="20"/>
</odoo>
